body{
    background-color: #323031;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding: 0;
    margin: 0;
    overflow: hidden;


}
.name{
    position: fixed;
    background: #3D3B3C;
    width: 100%;
    text-align: center;
    color: #C1BDB3;
}
.message{
    position: fixed;
    background: #7F7979;
    width: 100%;
    bottom:0;
    color: aliceblue;
    height: 5%;
    line-height: 2.5%;
    

}
.enter{
    position: fixed;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.messages{
    position: fixed;
    top: 7%;
    bottom: 10%;
    color: aliceblue;
    width: 100%;
    overflow: scroll;

}
.messages::-webkit-scrollbar {
    display: none;
}